@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Toute cette partie sera adapté avec des tests, site pour s'aider :
- https://nekocalc.com/fr/px-a-em-convertisseur
- https://www.alsacreations.com/astuce/lire/654-feuille-de-styles-de-base.html
- https://www.w3schools.com/css/css_rwd_viewport.asp#:~:text=Setting%20The%20Viewport&text=The%20width%3Ddevice%2Dwidth%20part,first%20loaded%20by%20the%20browser.
*/

html {
	font-size: 75%;
}
body {
	background-color: #fff;
	color: #000;
	font-family: 'Press Start 2P', cursive;
	font-size: 1em; /* equivalent de 16px */
	line-height: 1.5; /* adapter au design */
  padding-left: 550px;
  padding-right: 550px;
}
h1 {
  color : black;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em; /* equivalent de 24px */
  font-weight: normal;
  line-height: normal;
  text-align: center;
}
h2 {
  color : red;
  font-family: 'Press Start 2P', cursive;
  font-size: 1,3em; /* equivalent de 20px */
  font-weight: normal;
  line-height: normal;
}
p {
  color : black;
  font-family: 'Press Start 2P', cursive;
  font-size: 1em; /* equivalent de 16px */
  font-weight: normal;
  line-height: normal;
}

img {
  max-width: 100%;
}
