@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
	font-size: 75%;
}
body {
	background-color: #fff;
	color: #000;
	font-family: 'Press Start 2P', cursive;
	font-size: 100%;
	line-height: 150%;
  padding-left: 500px;
  padding-right: 500px;
}
h1 {
  color : black;
  font-family: 'Press Start 2P', cursive;
  font-size: 150%;
  font-weight: 100%;
  line-height: 100%;
  text-align: center;
	word-spacing: 100%;
}
h2 {
  color : red;
  font-family: 'Press Start 2P', cursive;
  font-size: 130%;
  font-weight: 100%;
  line-height: 130%;
  text-align: justify;

}
p {
  color : black;
  font-family: 'Press Start 2P', cursive;
  font-size: 80%;
  font-weight: 100%;
  line-height: 120%;
  text-align: justify;
}
a:link {
	 text-decoration:none;
}

img {
  max-width: 100%;
}
