@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@media(max-width: 300px){
	html {
		font-family: 'Press Start 2P', cursive;
		font-size: 75%;
	}

	body {
		background-image: url("fond720.jpg");
		background-attachment: fixed;
		background-size: cover;
		font-family: 'Press Start 2P', cursive;
		font-size: 100%;
		line-height: 150%;
		padding-left: 0%;
		padding-right: 0%;

	}
	.plot {
		padding-left: 0%;
		padding-right: 0%;
	}
	div{
		font-family: 'Press Start 2P', cursive;
		padding-left:100px ;
		padding-right:100px;
	}

	.police {
		font-family: 'Press Start 2P', cursive;
	}
	h1 {
		color : black;
		font-family: 'Press Start 2P', cursive;
		font-size: 150%;
		font-weight: 100%;
		line-height: 100%;
		text-align: center;
		word-spacing: 100%;
	}
	h2 {
		color : red;
		font-family: 'Press Start 2P', cursive;
		font-size: 130%;
		font-weight: 100%;
		line-height: 130%;
		text-align: justify;

	}
	p {
		color : black;
		font-family: 'Press Start 2P', cursive;
		font-size: 80%;
		font-weight: 100%;
		line-height: 120%;
		text-align: justify;
	}
	a:link {
		 text-decoration:none;
	}

	img {
		max-width: 100%;
	}
	}

/*encore plus petit*/
@media(min-width: 300px){


html {
	font-family: 'Press Start 2P', cursive;
	font-size: 75%;
}

body {
	background-image: url("fond720.jpg");
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Press Start 2P', cursive;
	font-size: 100%;
	line-height: 150%;
	padding-left: 0%;
	padding-right: 0%;

}
.plot {
	padding-left: 0%;
	padding-right: 0%;
}
div{
	font-family: 'Press Start 2P', cursive;
	padding-left:100px ;
	padding-right:100px;
}

.police {
	font-family: 'Press Start 2P', cursive;
}
h1 {
	color : black;
	font-family: 'Press Start 2P', cursive;
	font-size: 150%;
	font-weight: 100%;
	line-height: 100%;
	text-align: center;
	word-spacing: 100%;
}
h2 {
	color : red;
	font-family: 'Press Start 2P', cursive;
	font-size: 130%;
	font-weight: 100%;
	line-height: 130%;
	text-align: justify;

}
p {
	color : black;
	font-family: 'Press Start 2P', cursive;
	font-size: 80%;
	font-weight: 100%;
	line-height: 120%;
	text-align: justify;
}
a:link {
	 text-decoration:none;
}

img {
	max-width: 100%;
}
}
/*petit smartphones*/
@media(min-width: 576px) {
	html {
		font-family: 'Press Start 2P', cursive;
		font-size: 75%;
	}
	body {
		background-image: url("fond720.jpg");
		background-attachment: fixed;
		background-size: cover;
		font-family: 'Press Start 2P', cursive;
		font-size: 100%;
		line-height: 150%;
		padding-left: 0%;
		padding-right: 0%;

	}
	.plot {
		padding-left: 0%;
		padding-right: 0%;
	}
	div{
		font-family: 'Press Start 2P', cursive;
		padding-left:100px ;
		padding-right:100px;
	}
	.police {
		font-family: 'Press Start 2P', cursive;
	}
	h1 {
		color : black;
		font-family: 'Press Start 2P', cursive;
		font-size: 150%;
		font-weight: 100%;
		line-height: 100%;
		text-align: center;
		word-spacing: 100%;
	}
	h2 {
		color : red;
		font-family: 'Press Start 2P', cursive;
		font-size: 130%;
		font-weight: 100%;
		line-height: 130%;
		text-align: justify;

	}
	p {
		color : black;
		font-family: 'Press Start 2P', cursive;
		font-size: 80%;
		font-weight: 100%;
		line-height: 120%;
		text-align: justify;
	}
	a:link {
		 text-decoration:none;
	}

	img {
		max-width: 100%;
	}
}

/*téléphones, tablettes*/
@media(min-width: 768px) {
	html {
		font-family: 'Press Start 2P', cursive;
		font-size: 75%;
	}
	body {
		background-image: url("fond720.jpg");
		background-attachment: fixed;
		background-size: cover;
		font-family: 'Press Start 2P', cursive;
		font-size: 100%;
		line-height: 150%;
		padding-left: 5%;
		padding-right: 5%;

	}
	.plot {
		padding-left: 3%;
		padding-right: 3%;
	}
	div{
		font-family: 'Press Start 2P', cursive;
		padding-left:100px ;
		padding-right:100px;
	}
	.police {
		font-family: 'Press Start 2P', cursive;
	}
	h1 {
		color : black;
		font-family: 'Press Start 2P', cursive;
		font-size: 150%;
		font-weight: 100%;
		line-height: 100%;
		text-align: center;
		word-spacing: 100%;
	}
	h2 {
		color : red;
		font-family: 'Press Start 2P', cursive;
		font-size: 130%;
		font-weight: 100%;
		line-height: 130%;
		text-align: justify;

	}
	p {
		color : black;
		font-family: 'Press Start 2P', cursive;
		font-size: 80%;
		font-weight: 100%;
		line-height: 120%;
		text-align: justify;
	}
	a:link {
		 text-decoration:none;
	}

	img {
		max-width: 100%;
	}
}

/*grandes tablettes, écrans moyens*/
@media(min-width: 992px) {
	html {
		font-family: 'Press Start 2P', cursive;
		font-size: 75%;
	}
	body {
		background-image: url("fond720.jpg");
		background-attachment: fixed;
		background-size: cover;
		font-family: 'Press Start 2P', cursive;
		font-size: 100%;
		line-height: 150%;
		padding-left: 10%;
		padding-right: 10%;

	}
	.plot {
		padding-left: 5%;
		padding-right: 5%;
	}
	div{
		font-family: 'Press Start 2P', cursive;
		padding-left:100px ;
		padding-right:100px;
	}
	.police {
		font-family: 'Press Start 2P', cursive;
	}
	h1 {
		color : black;
		font-family: 'Press Start 2P', cursive;
		font-size: 150%;
		font-weight: 100%;
		line-height: 100%;
		text-align: center;
		word-spacing: 100%;
	}
	h2 {
		color : red;
		font-family: 'Press Start 2P', cursive;
		font-size: 130%;
		font-weight: 100%;
		line-height: 130%;
		text-align: justify;

	}
	p {
		color : black;
		font-family: 'Press Start 2P', cursive;
		font-size: 80%;
		font-weight: 100%;
		line-height: 120%;
		text-align: justify;
	}
	a:link {
		 text-decoration:none;
	}

	img {
		max-width: 100%;
	}
}

/*grand écrans 1*/
@media(min-width: 1100px) {
	html {
		font-family: 'Press Start 2P', cursive;
		font-size: 75%;
	}
	body {
		background-image: url("fond720.jpg");
		background-attachment: fixed;
		background-size: cover;
		font-family: 'Press Start 2P', cursive;
		font-size: 100%;
		line-height: 150%;
	  padding-left: 15%;
	  padding-right: 15%;

	}
	.plot {
		padding-left: 10%;
		padding-right: 10%;
	}
	div{
		font-family: 'Press Start 2P', cursive;
		padding-left:100px ;
		padding-right:100px;
	}
	.police {
		font-family: 'Press Start 2P', cursive;
	}
	h1 {
	  color : black;
	  font-family: 'Press Start 2P', cursive;
	  font-size: 150%;
	  font-weight: 100%;
	  line-height: 100%;
	  text-align: center;
		word-spacing: 100%;
	}
	h2 {
	  color : red;
	  font-family: 'Press Start 2P', cursive;
	  font-size: 130%;
	  font-weight: 100%;
	  line-height: 130%;
	  text-align: justify;

	}
	p {
	  color : black;
	  font-family: 'Press Start 2P', cursive;
	  font-size: 80%;
	  font-weight: 100%;
	  line-height: 120%;
	  text-align: justify;
	}
	a:link {
		 text-decoration:none;
	}

	img {
	  max-width: 100%;
	}
}

/*grand écrans 2*/
@media(min-width: 1200px) {
	html {
		font-family: 'Press Start 2P', cursive;
		font-size: 75%;
	}
	body {
		background-image: url("fond720.jpg");
		background-attachment: fixed;
		background-size: cover;
		font-family: 'Press Start 2P', cursive;
		font-size: 100%;
		line-height: 150%;
	  padding-left: 20%;
	  padding-right: 20%;

	}
	.plot {
		padding-left: 15%;
		padding-right: 10%;
	}
	div{
		font-family: 'Press Start 2P', cursive;
		padding-left:100px ;
		padding-right:100px;
	}
	.police {
		font-family: 'Press Start 2P', cursive;
	}
	h1 {
	  color : black;
	  font-family: 'Press Start 2P', cursive;
	  font-size: 150%;
	  font-weight: 100%;
	  line-height: 100%;
	  text-align: center;
		word-spacing: 100%;
	}
	h2 {
	  color : red;
	  font-family: 'Press Start 2P', cursive;
	  font-size: 130%;
	  font-weight: 100%;
	  line-height: 130%;
	  text-align: justify;

	}
	p {
	  color : black;
	  font-family: 'Press Start 2P', cursive;
	  font-size: 80%;
	  font-weight: 100%;
	  line-height: 120%;
	  text-align: justify;
	}
	a:link {
		 text-decoration:none;
	}

	img {
	  max-width: 100%;
	}
}


/*grand écrans 3*/
@media(min-width: 1300px) {
	html {
		font-family: 'Press Start 2P', cursive;
		font-size: 75%;
	}
	body {
		background-image: url("fond720.jpg");
		background-attachment: fixed;
		background-size: cover;
		font-family: 'Press Start 2P', cursive;
		font-size: 100%;
		line-height: 150%;
	  padding-left: 25%;
	  padding-right: 25%;

	}
	.plot {
		padding-left: 20%;
		padding-right: 20%;
	}
	div{
		font-family: 'Press Start 2P', cursive;
		padding-left:100px ;
		padding-right:100px;
	}
	.police {
		font-family: 'Press Start 2P', cursive;
	}
	h1 {
	  color : black;
	  font-family: 'Press Start 2P', cursive;
	  font-size: 150%;
	  font-weight: 100%;
	  line-height: 100%;
	  text-align: center;
		word-spacing: 100%;
	}
	h2 {
	  color : red;
	  font-family: 'Press Start 2P', cursive;
	  font-size: 130%;
	  font-weight: 100%;
	  line-height: 130%;
	  text-align: justify;

	}
	p {
	  color : black;
	  font-family: 'Press Start 2P', cursive;
	  font-size: 80%;
	  font-weight: 100%;
	  line-height: 120%;
	  text-align: justify;
	}
	a:link {
		 text-decoration:none;
	}

	img {
	  max-width: 100%;
	}
}
